.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 ; ;
    font-size: 1.2rem;
    gap: 5px;
  }
  
  .pagination .page-num{
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
  }
  
  .pagination .page-num:hover{
    background-color: #F87272;
    color: white;
  }
  
  .pagination .active{
    background-color: #F87272;
    
  }